html, body {

    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Open Sans";
  }
  
  body {
    background-size: cover;
    font-size: 100%;
    width: 100%;
  }

  
  
  
  
  .headline {
    text-align: center;
    background: linear-gradient(to top, #068AA3, #07C3E7);
  
    font-size: 110%;
    /* padding: 1em; */
    color: white;
    padding: 0.8em 0;
  }